<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">    
 <type name="Magento\Cms\Controller\Noroute\Index">
    <plugin name="no-route-404" type="Compunnel\Module\Controller\Noroute\Index" sortOrder="10" disabled="false"/>
 </type>
</config>